<div class="divide-y divide-slate-100">
    <img src="../../../assets/fam.jpg" class="w-full" alt="Stein Vanmassenhove">
    <h2 class="p-4 font-semibold text-slate-900 truncate">Stein Vanmassenhove - Founder Peblet BV</h2>
    <p class="p-4">Freelance full-stack developer. Experienced in Java Spring, Angular.</p>
    <p class="p-4 flex flex-row">
        <fa-icon class="w-8 pr-4" [icon]="faPhone"></fa-icon>
        <a href="tel:+32478394317">+32 478/39.43.17</a>
    </p>
    <p class="p-4 flex flex-row">
        <fa-icon class="w-8 pr-4" [icon]="faMail"></fa-icon>
        <a href="mailto:stein@peblet.be">stein@peblet.be</a>
    </p>
    <p class="p-4 flex flex-row">
        <fa-icon class="w-8 pr-4" [icon]="faBuilding"></fa-icon>
        Tijmstraat 23, 3990 Peer - België
    </p>
    <p class="p-4 flex flex-row">
        V.A.T. BE ...
    </p>
</div>