<div class="divide-y divide-slate-400">
    <peblet-experience-list-item company="Ravago" role="Software development" from="2023-5-4" image="../assets/ravago.png">
        <p class="mt-2">
            Full-Stack development Warehouse-Management-System<br />
            * Kotlin backend<br />
            * Angular frontend<br />
        </p>
    </peblet-experience-list-item>

    <peblet-experience-list-item company="Codabox (Isabel Group)" role="Software development" from="2022-4-25" until="2023-4-30" image="../assets/codabox.png">
        <p class="mt-2">
            Java Spring backend development<br />
            * Zoomit-Doccle integration<br />
            * E-Invoices<br />
            * CARO<br />
        </p>
    </peblet-experience-list-item>
    
    <peblet-experience-list-item company="Codabox (Isabel Group)" role="Software development" from="2022-4-25" image="../assets/codabox.png">
        <p class="mt-2">
            Java Spring backend development<br />
            * Zoomit-Doccle integration<br />
            * E-Invoices<br />
            * CARO<br />
        </p>
    </peblet-experience-list-item>


    <peblet-experience-list-item company="Peblet" role="Founder Peblet" from="2022-4-1">
        <p class="mt-2">
            Founded Peblet to start as a self employed software development consultant.
        </p>
    </peblet-experience-list-item>

    <peblet-experience-list-item company="Cegeka" role="Software development consultant: VDAB" from="2021-9-21"
        until="2022-4-22" image="../assets/cegeka.png">
        <p class="mt-2">
            Java Spring backend + Angular (Typescript) frontend development for VDAB:<br />
            * Competent application<br />
            * IBO application<br />
            * ...
        </p>
    </peblet-experience-list-item>

    <peblet-experience-list-item company="KBC" role="Software development: Frontend Core" from="2020-1-1"
        until="2021-9-21" image="../assets/kbc.png">
        <p class="mt-2">
            Angular (Typescript) development:<br />
            * Migration project angularjs to angular<br />
            * Login components<br />
            * Signing components
        </p>
    </peblet-experience-list-item>

    <peblet-experience-list-item company="KBC" role="Software development: Websecurity" from="2016-1-1"
        until="2020-1-1" image="../assets/kbc.png">
        <p class="mt-2">
            Java Spring backend development:
            * Authentication and Authorization services for various banking products<br />
            * electronic document and transaction signing services<br />
            * eID services
        </p>
    </peblet-experience-list-item>

    <peblet-experience-list-item company="KBC" role="Software development: ATM machines" from="2010-11-1"
        until="2016-1-1" image="../assets/kbc.png">
        <p class="mt-2">
            Java backend, html + css frontend (ATM midtier developer)
            Working in a small team of 3 to 4 persons, I'm responsible for ATM units <br />
            * New software features are analyzed, developed and tested within the team. <br />
            * As well as hardware changes which will be tested on various type of units.<br />
            * 3rd line support is given to ATM units in the field
        </p>
    </peblet-experience-list-item>

    <peblet-experience-list-item company="Talent Planet" role="Software development consultant at KBC" from="2010-11-1"
        until="2011-12-1">
    </peblet-experience-list-item>

</div>