<ng-container *transloco="let $">
    <div class="p-4 grid grid-cols-4 gap-4 auto-cols-fr">
        <peblet-app-widget [name]="$('portfolio')" icon="/assets/portfolio.png" [routerLink]="['/', 'portfolio']"></peblet-app-widget>
        <peblet-app-widget [name]="$('contact')" icon="/assets/contacts.png" [routerLink]="['/', 'contact']"></peblet-app-widget>
        <peblet-app-widget [name]="$('experience')" icon="/assets/experience.png" [routerLink]="['/', 'experience']"></peblet-app-widget>
        <peblet-app-widget [name]="$('settings')" icon="/assets/settings.png" [routerLink]="['/', 'settings']"></peblet-app-widget>
    </div>
</ng-container>
